.sidebar
  position: fixed
  width: 100%
  height: 100%
  top: 0
  background-color: #10367C
  padding-top: 150px
  padding-bottom: 50px
  z-index: 3
  transition: all .2s ease
  overflow: auto
  -ms-overflow-style: none
  &::-webkit-scrollbar
    width: 0
  &--hidden
    top: -100%

.list
  list-style: none
  &-block
    display: flex
  &-left
    margin-right: 180px
    &__item
      margin-top: 25px
      margin-bottom: 30px
      font-size: 2.82em
      &:hover
        opacity: 1
        border-bottom: 1px solid white
      &:first-child
        margin-top: 0
  &-right
    &--hidden
      display: none
    &__item
      font-size: 1.88em
      padding-bottom: 10px
      padding-top: 10px
      &:hover
        opacity: 1
        font-weight: 600
  &__item
    opacity: 0.5
  &__link
    color: #ffffff
    text-decoration: none
